# Entorno virtual
venv/

# Configuración local
.env
config.py

# Archivos temporales de Python
__pycache__/
*.pyc

# Archivos de logs
*.log

# Archivos de VS Code
.vscode/

# Sistema operativo (Windows/macOS)
.DS_Store
Thumbs.db